- scenario_family = assignment.scenario_family
= content_tag_for(:tr, assignment, :data => {:scenario_family_id => scenario_family.id}) do
  %td= scenario_family.name
  %td= scenario_family.description
  %td= assignment.status.to_s.capitalize
  %td= assignment.incomplete_scenarios.count
  %td= link_to("Next Item", next_assignment_scenarios_path(assignment))
