= content_tag_for(:tr, assignment, :data => {:scenario_family_id => assignment.scenario_family_id}) do
  %td= assignment.name
  %td= assignment.description
  %td= assignment.status.to_s.capitalize
  %td= assignment.incomplete_scenarios.count
  %td= link_to("Next Item", next_assignment_scenarios_path(assignment))
