=form_for item_rating do |f|
  = f.hidden_field :rater_id
  = f.hidden_field :item_id
  = f.radio_button :rating, 0
  = f.label :rating_0, "Irrelevant"
  = f.radio_button :rating, 1
  = f.label :rating_0, "Unlikely"
  = f.radio_button :rating, 2
  = f.label :rating_0, "Likely"
  = f.radio_button :rating, 3
  = f.label :rating_0, "Relevant"
  = f.submit
