- title "Patient Scenario"

= content_tag_for(:div, scenario_family) do
  Scenario Family: 
  %strong= scenario_family.name

- if items.present?
  %ul#item_list
    = render :partial => "medical_record_items/item_line", :collection => items, :as => :item
- else
  #no_items No medical record items for this scenario.

= content_tag_for(:div, scenario) do
  %h2 Context
  .exam_info
    %strong Description
    = scenario.exam_description
  .exam_info
    %strong Clinical History
    %span.patient_info= "#{scenario.patient_age} #{scenario.patient_sex.capitalize}"
    = scenario.exam_clinical_history
  - if scenario.exam_comment.present?
    .exam_info
      %strong Comment
      = scenario.exam_comment
  .report
    = simple_format(scenario.exam_report)

#current_item
  - if current_item.present?
    %h2 Item to Evaluate
    = render :partial => "medical_record_items/item", :object => current_item, :as => :item

    #item_rating_form
      %h3 Rate Item
      = render :partial => "item_ratings/form", :object => item_rating, :as => :item_rating
  - else
    %strong.error No item available.
