!!! 5
- ie_html(:class => 'no-js', :lang => 'en') do
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :name => "description", :content => "Assayer Search Test System" }/
    %meta{ :name => "author", :content => "Tarik K. Alkasab, MD, PhD" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/

    %title
      = h(yield(:title) || "Assayer")

    = stylesheet_link_tag "application"
    = javascript_include_tag '/javascripts/modernizr.min.js'
    = csrf_meta_tag
  
  %body{ :class => "#{controller.controller_name}" }
    -# Top Bar
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{:data=>{:toggle => "collapse", :target => ".nav-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href=>"#"} Assayer
          .nav-collapse
            %ul.nav
              - navbar_link('Home', root_path)
              - navbar_link('About', about_path)
              - navbar_link('Help', help_path)
              %li.divider-vertical
              - if user_signed_in?
                %li
                  .navbar-text Logged in as #{current_user.name}
                %li
                  %a{:href => destroy_user_session_path} Sign out
              - else
                %li= link_to 'Sign In', new_session_path(:user)
                %li= link_to 'Sign Up', new_registration_path(:user)

    -# Main Content
    .container
      -# Flash messages
      - flash.each do |name, msg|
        .alert{ :class => name == :notice ? 'alert-success' : 'alert-error' }
          %a.close{:data => {:dismiss => 'alert'}} &times;
          = msg

      -# Main content
      = yield
        
    -# Javascript
    = javascript_include_tag "application"
